body, html, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td 
    margin: 0;
    padding: 0;
body, button, input, select, textarea 
    font: 12px/1.5 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
h1, h2, h3, h4, h5, h6 
    font-size: 100%;
address, cite, dfn, em, var, i 
    font-style: normal;

code, kbd, pre, samp 
    font-family: "宋体", couriernew, courier, monospace;
small 
    font-size: 12px;
ul, ol, li 
    list-style: none;
a 
    text-decoration: none;
    color: #333333;
    -webkit-backface-visibility: hidden
a:hover 
    text-decoration: none;
sup 
    vertical-align: text-top;

sub 
    vertical-align: text-bottom;

legend 
    color: #000;

fieldset, img 
    border: 0;

html, body 
  font-family: "Microsoft YaHei", 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif,"宋体";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1
  -webkit-text-size-adjust: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  color:#ffffff
  background-color #080f3e
  z-index: -2

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand 
    display: none;
input::-ms-clear 
    display: none;
button, input, select, textarea 
    font-size: 100%;
    vertical-align: middle;
    outline: none;
table 
    border-collapse: collapse;
    border-spacing: 0;
ul, dl 
    font-size: 0
ul li, dl dd 
    font-size: 12px;
::-webkit-input-placeholder 
    color: #d1d1d1
    font-size: 12px
input[type=button], input[type=submit] 
    cursor: pointer
header, footer, nav, section, article 
    display: block
.clear:after 
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
.hide 
    display: none;
.show 
    display: block;
.clearfix:after
  display:table
  content:''
  height:0
  overflow:hidden
  clear:both
.clearfix:before
  display:table
  content:''
*{
    box-sizing: border-box
}
